.profile {
  width: 100%;
  display: flex;
  justify-content: center;

}

.profile-card {
  min-width: 600px;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  box-shadow: none !important;
}

.social-links {
  min-width: 100px;
}
