<form [formGroup]="userSeacrhForm" (ngSubmit)="onUserSubmit()" class="flex flex-grow flex-col gap-2 md:gap-4 sm:flex-row">

  <div class="flex flex-grow flex-row gap-2">

    <fa-icon size="2x" [icon]="faGithub" class="mt-1 "></fa-icon>

    <input type="text" placeholder="Search Github Username" formControlName="username" required class="p-2 border border-gray-200 outline-none grow" />

  </div>

  <button type="submit" [disabled]="userSeacrhForm.invalid" class="p-2 bg-sky-600 hover:bg-sky-700 text-white disabled:bg-gray-400">
    Search
  </button>

</form>